---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHub from "../components/icons/GitHub.astro";
import Mail from "../components/icons/Mail.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Code from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import User from "../components/icons/User.astro";
import SobreMi from "../components/SobreMi.astro";
import MiStack from "../components/MiStack.astro";
---

<Layout
  title="Porfolio de Mauricio Marín - Desarrollador y Programador Web."
  description="Contrata a mauricio marin para crear tu aplicación web. Desarrollador Web, Especializado en crear aplicaciones web únicas"
>
  <main class="px-2">
    <SectionContainer class="py-44 pb-24">
      <img
        class="rounded-full size-[120px] object-fill mb-4"
        src="/projects/imgmauricio.webp"
        alt="maurico marin foto"
      />
      <h1
        class="text-white text-3xl mg:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10 dark:text-customColor"
      >
        Hey, soy Mauricio <a
          href="mailto:maurimr465@gmail.com"
          target="_blank"
          class="flex justify-center items-center"
          rel="noopener"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2
        class="text-xl lg:text-2xl text-wrap max-w-[700px] dark:text-customColor"
      >
        <span class="text-yellow-200 dark:text-[#EAB308] dark:font-semibold"
          >Soy un apasionado desarrollador frontend autodidacta</span
        >, especializado en la creación de experiencias web atractivas y
        funcionales. Disfruto convirtiendo ideas creativas en código eficiente y <span
          class="text-yellow-200 dark:text-[#EAB308] dark:font-semibold"
          >siempre estoy buscando oportunidades para aprender y mejorar mis
          habilidades</span
        >."
      </h2>
      <nav class="flex gap-4 flex-wrap mt-8">
        <SocialPill
          href="https://www.linkedin.com/in/mauricio-mar%C3%ADn-967a97265/"
        >
          <LinkedIn class="size-4 md:-size-6" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/Mauricio-mr-Dev">
          <GitHub class="size-4 md:-size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:maurimr465@gmail.com">
          <Mail class="size-4 md:-size-6" />
          Contactame
        </SocialPill>
        <SocialPill href="./CV/cv.pdf" download>
          <img src="./CV/pdf.png" alt="" class="size-5 md:-size-6" />
          Descargar CV
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia  dark:text-customColor">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center dark:text-customColor"
      >
        <Briefcase class="size-8" />
        Experiencia
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Code class="size-8" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer>
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Code class="size-8" />
        Mi stack
      </h2>

      <MiStack />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <User class="size-8" />
        Sobre mí
      </h2>
      <SobreMi />
    </SectionContainer>
  </main>
</Layout>
