<span
  class="bg-[#3182ce] text-white text-lg font-medium me-2 px-5 py-2 rounded-full dark:bg-[#3182ce] dark:text-white hover:scale-105"
  ><slot />
</span>

<style>
  @media (max-width: 678px) {
    span {
      font-size: 13px;
        text-align: center;
        margin-right: 35px;
        width: 143px;
        line-height: 15px;
    }
  }
</style>
