---

---

<header
  id="header"
  class="flex z-10 justify-center items-center p-y-3 w-full xl:w-[900px] mx-auto bg-slate-600 rounded-full fixed top-5 left-0 right-0"
>
  <nav
    class="flex flex-row gap-x-1 sm:gap-x-6 w-full justify-around p-3 items-center"
  >
    <a class="text-xl hover:text-yellow-500" href="#">Inicio </a>
    <a class="text-xl hover:text-yellow-500" href="#experiencia">Experiencia</a>
    <a class="text-xl hover:text-yellow-500" href="#proyectos">Proyectos</a>
    <a class="text-xl hover:text-yellow-500" href="#sobre-mi">Sobre mí</a>
    <a class="text-xl hover:text-yellow-500" href="mailto:maurimr465@gmail.com"
      >Contacto</a
    >
    <button id="darkMode" class="text-xs hover:text-yellow-500">
      <img
        src="./Mode/sun.png"
        alt="imagen para light mode"
        class="w-4 dark:hidden xl:w-6"
      />
      <img
        src="./Mode/moon.png"
        alt="Imagen para darkMode"
        class="w-3 hidden dark:block xl:w-6"
      />

      <style>
        @media (max-width: 768px) {
          header {
            width: 90%;
          }
          nav {
            padding: 0px;
            gap: 12px;
          }
          nav a {
            font-size: 8px;
            padding: 0px;
          }
        }
      </style>

      <script>
        //Dark mode

        const darkMode = document.querySelector("#darkMode")!;

        darkMode.addEventListener("click", () => {
          document.documentElement.classList.toggle("dark");
        });

        const header = document.querySelector("header")!;
        let scrollTimer = 0;

        function cambiarColorEncabezado() {
          if (window.scrollY > 0) {
            header.style.backgroundColor = "#3182ce";

            header.style.display = "flex";
          } else {
            header.style.backgroundColor = "transparent";
            header.style.display = "flex";
          }
        }

        window.addEventListener("scroll", cambiarColorEncabezado);

        function usuarioQuieto() {
          header.style.display = "none";
        }

        window.addEventListener("scroll", () => {
          cambiarColorEncabezado();
          clearTimeout(scrollTimer);
          window.scrollY > 25
            ? (scrollTimer = setTimeout(usuarioQuieto, 2000))
            : " ";
        });

        header.onmouseover = function () {
          if ("onmouseover" in header) {
            clearTimeout(scrollTimer);
          }
        };

        function userActive() {
          if ("onmouseover" in header) {
            header.onmouseover = function () {
              clearTimeout(scrollTimer);
            };

            header.onmouseout = function () {
              window.scrollY > 25
                ? (scrollTimer = setTimeout(usuarioQuieto, 1000))
                : " ";
            };
          }
        }

        header.addEventListener("mouseover", userActive);
      </script>
    </button>
  </nav>
</header>
