<section class="flex justify-end items-center gap-4">
  <span class="text-2xl text-pretty">
    <p>
      Me llamo Mauricio y <span class="text-yellow-200"
        >llevo dos años inmerso en el mundo de la programación</span
      >, especialmente enfocado en el desarrollo frontend.
    </p>
    <br />

    <span class="text-yellow-200">
      Mi pasión por esta área me impulsa a seguir aprendiendo constantemente,
      buscando nuevos retos y superando obstáculos para mejorar mis habilidades.</span>
    He participado en proyectos freelance y escolares, donde he sido el encargado
    de crear interfaces atractivas y funcionales. <br />
    <br />

    <p>
      Mi enfoque en el aprendizaje continuo y mi excelente actitud me permiten
      enfrentar cada desafío con determinación y optimismo, <span class="text-yellow-200" >
        convirtiendo cada
      obstáculo en una oportunidad para superarme a mí mismo.
      </span>
    </p>
  </span>

  <img
    class="rounded-xl w-[430px] h-[430px] ml-4 max-h-full"
    src="/public/Projects/img-sobre-mi.webp"
    alt="imagen de mauricio marin"
  />
</section>

<style>
  @media (max-width: 768px) {
    section {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    span {
      font-size: 18px;
    }
    img {
    }
  }
</style>
