<section class="flex justify-end items-center gap-4">
  <span class="text-2xl text-pretty">
    <p>
      ¡Hola a todos! Me llamo Mauricio y desde que era un niño he estado intrigado por el mundo de la informática. <span class="text-[#EDC216]">Hace unos dos años, decidí sumergirme en el desarrollo de software,</span> especialmente enfocado en el diseño y la programación del frontend de aplicaciones y sitios web. <br><br>

      Durante este tiempo, me he embarcado en un emocionante viaje de aprendizaje autodidacta. Todos los días me despierto con la motivación de mejorar mis habilidades y conocimientos, explorando nuevas tecnologías y técnicas para seguir evolucionando en mi carrera. <br><br>
      
      Una de mis características más destacadas es mi actitud positiva y mi entusiasmo por colaborar con otros. <span class="text-[#EDC216]">Creo firmemente en el poder del trabajo en equipo para alcanzar metas más grandes y mejores resultados. </span> Siempre estoy abierto a nuevas ideas y perspectivas, y disfruto del proceso de aprender y crecer junto a mis colegas y compañeros de equipo.
    </p>
  </span>

  <img
    class="rounded-xl w-[430px] h-[430px] ml-4 max-h-full object-contain"
    src="/projects/img-sobre-mi.webp"
    alt="imagen de mauricio marin"
  />
</section>

<style>
  @media (max-width: 768px) {
    section {
      flex-direction: column;
      justify-content: center;
      
    }
    span {
      font-size: 18px;
    }
    img {
      object-fit: contain;
      margin-right: 27px;
      
    }
  }
</style>
